workflows/n8n/souscription_auto_contract_fixed.json
{
  "name": "Souscription — Analyse et Contractualisation Automatisée",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "souscription/request",
        "responseMode": "onReceived",
        "options": {"responseCode": 200, "responseData": {"message": "Requête reçue, traitement en cours"}}
      },
      "id": "Webhook_Request",
      "name": "Webhook — Requête",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "const input = $json;\nreturn [{\n  channel: input.channel || 'web',\n  customer: { firstName: input.firstName || input.customer?.firstName, lastName: input.lastName || input.customer?.lastName, email: input.email || input.customer?.email, phone: input.phone || input.customer?.phone, address: input.address || input.customer?.address },\n  payload: input.payload || input,\n  consentText: input.consentText || '',\n  consentGiven: Boolean(input.consentGiven),\n  context: { requestedProduct: input.requestedProduct || '', locale: input.locale || 'fr-FR' },\n  compteurPhotoUrl: input.compteurPhotoUrl || null\n}];"
      },
      "id": "Function_Normalize",
      "name": "Normaliser Entrée",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [430, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "{{$env.AI_ENDPOINT}}/v1/chat/completions",
        "options": {"responseFormat": "json"},
        "headerParameters": [
          {"name": "Authorization", "value": "Bearer {{$env.AI_API_KEY}}"},
          {"name": "Content-Type", "value": "application/json"}
        ],
        "queryParameters": [],
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Tu es une IA de tri et extraction pour demandes de souscription énergie. Classe la demande, extrais les informations clés et valide la complétude. Renvoie strictement un JSON suivant le schéma.\" },\n    { \"role\": \"user\", \"content\": \"Analyse la demande suivante et renvoie un JSON conforme au schéma. Donnée:\nChannel: {{ $json.channel }}\nClient: {{ $json.customer.firstName }} {{ $json.customer.lastName }} ({{ $json.customer.email }})\nContexte: {{ $json.context.requestedProduct }}\nPayload: {{ $json.payload | json }}\" },\n    { \"role\": \"system\", \"content\": \"Schéma cible:\n{\\n  \\\"intent\\\": \\\"contractualisation_energie|information|support|resiliation|modification\\\",\\n  \\\"entities\\\": {\\n    \\\"energieType\\\": \\\"electricite|gaz|dual\\\",\\n    \\\"offre\\\": \\\"standard|verte|entreprise|autre\\\",\\n    \\\"adresse\\\": { \\\"ligne1\\\": string, \\\"codePostal\\\": string, \\\"ville\\\": string },\\n    \\\"identite\\\": { \\\"prenom\\\": string, \\\"nom\\\": string, \\\"email\\\": string, \\\"telephone\\\": string },\\n    \\\"consoEstimee\\\": number | null,\\n    \\\"iban\\\": string | null,\\n    \\\"options\\\": { \\\"heuresCreuses\\\": boolean | null, \\\"puissance\\\": number | null, \\\"chf\\\": boolean | null }\\n  },\\n  \\\"validation\\\": { \\\"complet\\\": boolean, \\\"manquants\\\": string[] },\\n  \\\"consentement\\\": { \\\"donne\\\": boolean, \\\"texte\\\": string }\\n}\\n\" } ] }"
      },
      "id": "HTTP_AI_Classify",
      "name": "IA — Classifier & Extraire",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "const r = $json;\nconst choice = r.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry { parsed = JSON.parse(choice); } catch (e) { parsed = { intent: 'information', validation: { complet: false, manquants: ['parse_error'] }, consentement: { donne: false, texte: '' }, entities: {} }; }\nparsed.entities = parsed.entities || {};\nreturn [{ ai: parsed, isContractIntent: parsed.intent === 'contractualisation_energie' }];"
      },
      "id": "Function_ParseAI",
      "name": "Parser JSON IA",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [930, 300]
    },
    {
      "parameters": {"conditions": {"boolean": [{"value1": "={{$json.ai.validation.complet}}"}]}} ,
      "id": "If_IsComplete",
      "name": "Données Complètes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1180, 300]
    },
    {
      "parameters": {"conditions": {"boolean": [{"value1": "={{$json.isContractIntent}}"}]}} ,
      "id": "If_IsContract",
      "name": "Intent Contract?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1180, 120]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.DQE_API_BASE_URL}}/address/validate", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify($json.ai.entities.adresse || {}) }}"},
      "id": "HTTP_DQE_Address",
      "name": "DQE — Valider Adresse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1420, 120]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.DQE_API_BASE_URL}}/communes/check-eld", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ codePostal: $json.ai.entities.adresse?.codePostal, ville: $json.ai.entities.adresse?.ville }) }}"},
      "id": "HTTP_ELD_Check",
      "name": "DQE — Vérifier ELD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1660, 120]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.GRD_API_BASE_URL}}/meter/search", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ adresse: $json.ai.entities.adresse }) }}"},
      "id": "HTTP_PDL_Search",
      "name": "GRD — Rechercher PDL/PCE (Adresse)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1890, 120]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.GRD_API_BASE_URL}}/meter/ocr", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ imageUrl: $json.compteurPhotoUrl }) }}"},
      "id": "HTTP_OCR_Matricule",
      "name": "GRD — OCR Matricule (Optionnel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1890, 300]
    },
    {
      "parameters": {"conditions": {"boolean": [{"value1": "={{ !!$json.compteurPhotoUrl }}"}]}} ,
      "id": "If_HasPhoto",
      "name": "Photo Compteur?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1660, 300]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.GRD_API_BASE_URL}}/meter/search", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ adresse: $json.ai.entities.adresse, matricule: $json.matricule || $json.ocrMatricule }) }}"},
      "id": "HTTP_PDL_Search_WithMat",
      "name": "GRD — Rechercher PDL/PCE (+ Matricule)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2120, 300]
    },
    {
      "parameters": {"functionCode": "const pdlBase = $json.pdl || $json.result || $json;\nreturn [{ pdlpce: pdlBase.pdlpce || pdlBase.id || null }];"},
      "id": "Function_Combine_PDL",
      "name": "Assembler PDL/PCE",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2120, 120]
    },
    {
      "parameters": {"conditions": {"boolean": [{"value1": "={{$json.ai.entities.options?.chf}}"}]}} ,
      "id": "If_CHF",
      "name": "CHF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2360, 120]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.GRD_API_BASE_URL}}/consent", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ consent: $json.ai.consentement, pdlpce: $json.pdlpce }) }}"},
      "id": "HTTP_GRD_Consent",
      "name": "GRD — Consentement (CHF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2590, 120]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.GRD_API_BASE_URL}}/meter/read", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ pdlpce: $json.pdlpce }) }}"},
      "id": "HTTP_Read_PDL",
      "name": "GRD — Lire PDL/PCE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2820, 120]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.EM_API_BASE_URL}}/estimate", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ pdlpce: $json.pdlpce, consoEstimee: $json.ai.entities.consoEstimee, options: $json.ai.entities.options }) }}"},
      "id": "HTTP_EM_Estimate",
      "name": "EM — Estimation Conso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3050, 120]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.AGILAB_API_BASE_URL}}/getgrille", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ energieType: $json.ai.entities.energieType, offre: $json.ai.entities.offre }) }}"},
      "id": "HTTP_Agilab_Grille",
      "name": "Agilab — GetGrille",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3280, 120]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.AGILAB_API_BASE_URL}}/calculette", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ energieType: $json.ai.entities.energieType, offre: $json.ai.entities.offre, estimation: $json }) }}"},
      "id": "HTTP_Agilab_Calculette",
      "name": "Agilab — Calculette (Devis)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3510, 120]
    },
    {
      "parameters": {"subject": "Votre devis énergie", "text": "Voici votre devis calculé.", "toEmail": "={{$json.ai.entities.identite?.email}}"},
      "id": "Email_Send_Devis",
      "name": "Email — Envoyer Devis (Optionnel)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [3740, 120]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.GRD_API_BASE_URL}}/meter/upsert", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ pdlpce: $json.pdlpce, adresse: $json.ai.entities.adresse }) }}"},
      "id": "HTTP_PDL_Upsert",
      "name": "GRD — Créer/Récupérer PDL/PCE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3970, 120]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.GRD_API_BASE_URL}}/installation/upsert", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ pdlpce: $json.pdlpce }) }}"},
      "id": "HTTP_Install_Upsert",
      "name": "GRD — Créer/Récupérer Installation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [4200, 120]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.SALESFORCE_API_BASE_URL}}/saves/1", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify($json) }}"},
      "id": "HTTP_SF_Save1",
      "name": "Salesforce — Save 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [4430, 120]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.SALESFORCE_API_BASE_URL}}/cases", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ context: 'save1', error: $json.error }) }}"},
      "id": "HTTP_SF_Case",
      "name": "Salesforce — Case (Erreur)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [4660, 120]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.DQE_API_BASE_URL}}/email/validate", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ email: $json.ai.entities.identite?.email }) }}"},
      "id": "HTTP_DQE_Email",
      "name": "DQE — Vérifier Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1420, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.DQE_API_BASE_URL}}/phone/validate", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ phone: $json.ai.entities.identite?.telephone }) }}"},
      "id": "HTTP_DQE_Phone",
      "name": "DQE — Vérifier Téléphone",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1660, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.BLACKLIST_API_BASE_URL}}/pdlpce/check", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ pdlpce: $json.pdlpce }) }}"},
      "id": "HTTP_Blacklist_PDL",
      "name": "Blacklist — PDL/PCE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1890, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.BLACKLIST_API_BASE_URL}}/iban/check", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ iban: $json.ai.entities.iban }) }}"},
      "id": "HTTP_Blacklist_IBAN",
      "name": "Blacklist — IBAN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2120, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.RUM_API_BASE_URL}}/rum/generate", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ client: $json.ai.entities.identite }) }}"},
      "id": "HTTP_RUM_Generate",
      "name": "RUM — Générer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2360, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.SALESFORCE_API_BASE_URL}}/saves/2", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify($json) }}"},
      "id": "HTTP_SF_Save2",
      "name": "Salesforce — Save 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2590, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.CRM_API_BASE_URL}}/person/update", "jsonParameters": true, "headerParameters": [{"name": "Authorization", "value": "Bearer {{$env.CRM_API_TOKEN}}"}, {"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify($json.ai.entities.identite) }}"},
      "id": "HTTP_CRM_UpdatePerson",
      "name": "CRM — Mise à jour Personne",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2820, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.CRM_API_BASE_URL}}/bank-accounts", "jsonParameters": true, "headerParameters": [{"name": "Authorization", "value": "Bearer {{$env.CRM_API_TOKEN}}"}, {"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ iban: $json.ai.entities.iban, rum: $json.rum }) }}"},
      "id": "HTTP_CRM_Bank",
      "name": "CRM — Coordonnées Bancaires",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3050, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.CONTRACT_API_BASE_URL}}/mandate/create", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ iban: $json.ai.entities.iban, client: $json.ai.entities.identite }) }}"},
      "id": "HTTP_Mandate_Create",
      "name": "Mandat — Créer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3280, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.CRM_API_BASE_URL}}/contracts/status", "jsonParameters": true, "headerParameters": [{"name": "Authorization", "value": "Bearer {{$env.CRM_API_TOKEN}}"}, {"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ status: 'En attente signature' }) }}"},
      "id": "HTTP_Contract_Status",
      "name": "Contrat — Statut En attente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3510, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.CONTRACT_API_BASE_URL}}/cpvs/info", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ energieType: $json.ai.entities.energieType, offre: $json.ai.entities.offre }) }}"},
      "id": "HTTP_CPVs_Info",
      "name": "CPVs — Infos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3740, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.CONTRACT_API_BASE_URL}}/cpvs/create", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ client: $json.ai.entities.identite }) }}"},
      "id": "HTTP_CPVs_Create",
      "name": "CPVs — Créer Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3970, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.CONTRACT_API_BASE_URL}}/mandate/generate", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ iban: $json.ai.entities.iban }) }}"},
      "id": "HTTP_Mandate_Generate",
      "name": "Mandat — Générer Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [4200, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.OTP_API_BASE_URL}}/code/generate", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ email: $json.ai.entities.identite?.email }) }}"},
      "id": "HTTP_OTP_Generate",
      "name": "OTP — Générer Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [4430, 420]
    },
    {
      "parameters": {"subject": "Votre code de signature", "text": "Votre code de signature est: {{$json.code}}", "toEmail": "={{$json.ai.entities.identite?.email}}"},
      "id": "Email_Send_OTP",
      "name": "Email — Envoyer Code",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [4660, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.CONSENT_API_BASE_URL}}/questions", "jsonParameters": true, "headerParameters": [{"name": "Authorization", "value": "Bearer {{$env.CONSENT_API_TOKEN}}"}, {"name": "Content-Type", "value": "application/json"}]},
      "id": "HTTP_Consent_Questions",
      "name": "Consentement — Questions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [4890, 420]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.OTP_API_BASE_URL}}/code/validate", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ email: $json.ai.entities.identite?.email, code: $json.userCode }) }}"},
      "id": "HTTP_OTP_Validate",
      "name": "OTP — Valider Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1420, 700]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.CONTRACT_API_BASE_URL}}/cpvs/sign", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ client: $json.ai.entities.identite }) }}"},
      "id": "HTTP_CPVs_Sign",
      "name": "CPVs — Signer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1660, 700]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.CONTRACT_API_BASE_URL}}/mandate/sign", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ iban: $json.ai.entities.iban }) }}"},
      "id": "HTTP_Mandate_Sign",
      "name": "Mandat — Signer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1890, 700]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.CRM_API_BASE_URL}}/person/update", "jsonParameters": true, "headerParameters": [{"name": "Authorization", "value": "Bearer {{$env.CRM_API_TOKEN}}"}, {"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify($json.ai.entities.identite) }}"},
      "id": "HTTP_CRM_UpdatePerson_3",
      "name": "CRM — MAJ Personne",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2120, 700]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.CRM_API_BASE_URL}}/portfolio/update", "jsonParameters": true, "headerParameters": [{"name": "Authorization", "value": "Bearer {{$env.CRM_API_TOKEN}}"}, {"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ status: 'Signé' }) }}"},
      "id": "HTTP_Portfolio_Update",
      "name": "CRM — MAJ Portefeuille",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2360, 700]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.SALESFORCE_API_BASE_URL}}/saves/3", "jsonParameters": true, "headerParameters": [{"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify($json) }}"},
      "id": "HTTP_SF_Save3",
      "name": "Salesforce — Save 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2590, 700]
    },
    {
      "parameters": {"subject": "Souscription — Finalisation", "text": "Votre souscription est finalisée.", "toEmail": "={{$json.ai.entities.identite?.email}}"},
      "id": "Email_Finalisation",
      "name": "Email — Finalisation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [2820, 700]
    },
    {
      "parameters": {"subject": "Activation Espace Client", "text": "Votre espace client est activé.", "toEmail": "={{$json.ai.entities.identite?.email}}"},
      "id": "Email_Activation_EC",
      "name": "Email — Activation EC",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [3050, 700]
    },
    {
      "parameters": {"subject": "Bienvenue", "text": "Bienvenue chez nous.", "toEmail": "={{$json.ai.entities.identite?.email}}"},
      "id": "Email_Bienvenue",
      "name": "Email — Bienvenue",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [3280, 700]
    },
    {
      "parameters": {"functionCode": "const ai = $json.ai;\nconst contract = { client: ai.entities.identite, adresse: ai.entities.adresse, energieType: ai.entities.energieType, offre: ai.entities.offre, options: ai.entities.options || {}, consoEstimee: ai.entities.consoEstimee || null, iban: ai.entities.iban || null };\nreturn [{ contract }];"},
      "id": "Function_PrepContract",
      "name": "Préparer Contrat",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1660, 190]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.CONTRACT_API_BASE_URL}}/contracts/generate", "jsonParameters": true, "headerParameters": [{"name": "Authorization", "value": "Bearer {{$env.CONTRACT_API_TOKEN}}"}, {"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify($json.contract) }}"},
      "id": "HTTP_Generate_Contract",
      "name": "Générer Contrat (PDF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1890, 190]
    },
    {
      "parameters": {"authentication": "none", "url": "{{$env.DOCUSIGN_BASE_URL}}/v2.1/accounts/{{$env.DOCUSIGN_ACCOUNT_ID}}/envelopes", "jsonParameters": true, "headerParameters": [{"name": "Authorization", "value": "Bearer {{$env.DOCUSIGN_ACCESS_TOKEN}}"}, {"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify({ templateId: $env.DOCUSIGN_TEMPLATE_ID, status: 'sent', recipients: { signers: [{ email: $json.contract.client.email, name: ($json.contract.client.prenom || '') + ' ' + ($json.contract.client.nom || '') }] } }) }}"},
      "id": "HTTP_DocuSign_Envelope",
      "name": "DocuSign — Créer Enveloppe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2120, 190]
    },
    {
      "parameters": {"responseData": "={{ { status: 'pending_signature', message: 'Lien de signature envoyé par e-mail', intent: $json.ai.intent } }}", "options": {"responseCode": 200}},
      "id": "Respond_Signature",
      "name": "Répondre — Signature en cours",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2360, 190]
    },
    {
      "parameters": {"responseData": "={{ { status: 'needs_more_info', missing: $json.ai.validation.manquants } }}", "options": {"responseCode": 400}},
      "id": "Respond_Missing",
      "name": "Répondre — Informations Manquantes",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1420, 610]
    },
    {
      "parameters": {"httpMethod": "POST", "path": "souscription/signature-callback", "responseMode": "onReceived", "options": {"responseCode": 200}},
      "id": "Webhook_Callback",
      "name": "Webhook — Signature Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 700]
    },
    {
      "parameters": {"jsonParameters": true, "url": "{{$env.CRM_API_BASE_URL}}/contracts", "headerParameters": [{"name": "Authorization", "value": "Bearer {{$env.CRM_API_TOKEN}}"}, {"name": "Content-Type", "value": "application/json"}], "bodyParametersJson": "={{ JSON.stringify($json) }}"},
      "id": "HTTP_Save_Contract",
      "name": "CRM — Enregistrer Contrat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [430, 700]
    },
    {
      "parameters": {"subject": "Souscription — Signature confirmée", "text": "Bonjour, votre contrat a été signé et enregistré.", "toEmail": "={{$json.clientEmail}}"},
      "id": "Email_Notify",
      "name": "Email — Confirmation",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [680, 700]
    }
  ],
  "connections": {
    "Webhook — Requête": {"main": [[{"node": "Normaliser Entrée", "type": "main", "index": 0}]]},
    "Normaliser Entrée": {"main": [[{"node": "IA — Classifier & Extraire", "type": "main", "index": 0}]]},
    "IA — Classifier & Extraire": {"main": [[{"node": "Parser JSON IA", "type": "main", "index": 0}]]},
    "Parser JSON IA": {"main": [[{"node": "Intent Contract?", "type": "main", "index": 0}], [{"node": "Données Complètes?", "type": "main", "index": 0}]]},
    "Intent Contract?": {"main": [[{"node": "DQE — Valider Adresse", "type": "main", "index": 0}], []]},
    "DQE — Valider Adresse": {"main": [[{"node": "DQE — Vérifier ELD", "type": "main", "index": 0}]]},
    "DQE — Vérifier ELD": {"main": [[{"node": "GRD — Rechercher PDL/PCE (Adresse)", "type": "main", "index": 0}]]},
    "GRD — Rechercher PDL/PCE (Adresse)": {"main": [[{"node": "Assembler PDL/PCE", "type": "main", "index": 0}]]},
    "Assembler PDL/PCE": {"main": [[{"node": "CHF?", "type": "main", "index": 0}]]},
    "CHF?": {"main": [[{"node": "GRD — Consentement (CHF)", "type": "main", "index": 0}], [{"node": "GRD — Lire PDL/PCE", "type": "main", "index": 0}]]},
    "GRD — Consentement (CHF)": {"main": [[{"node": "GRD — Lire PDL/PCE", "type": "main", "index": 0}]]},
    "GRD — Lire PDL/PCE": {"main": [[{"node": "EM — Estimation Conso", "type": "main", "index": 0}]]},
    "EM — Estimation Conso": {"main": [[{"node": "Agilab — GetGrille", "type": "main", "index": 0}]]},
    "Agilab — GetGrille": {"main": [[{"node": "Agilab — Calculette (Devis)", "type": "main", "index": 0}]]},
    "Agilab — Calculette (Devis)": {"main": [[{"node": "Email — Envoyer Devis (Optionnel)", "type": "main", "index": 0}]]},
    "Email — Envoyer Devis (Optionnel)": {"main": [[{"node": "GRD — Créer/Récupérer PDL/PCE", "type": "main", "index": 0}]]},
    "GRD — Créer/Récupérer PDL/PCE": {"main": [[{"node": "GRD — Créer/Récupérer Installation", "type": "main", "index": 0}]]},
    "GRD — Créer/Récupérer Installation": {"main": [[{"node": "Salesforce — Save 1", "type": "main", "index": 0}]]},
    "Salesforce — Save 1": {"main": [[{"node": "Salesforce — Case (Erreur)", "type": "main", "index": 0}]]},
    "Photo Compteur?": {"main": [[{"node": "GRD — OCR Matricule (Optionnel)", "type": "main", "index": 0}], [{"node": "Assembler PDL/PCE", "type": "main", "index": 0}]]},
    "GRD — OCR Matricule (Optionnel)": {"main": [[{"node": "GRD — Rechercher PDL/PCE (+ Matricule)", "type": "main", "index": 0}]]},
    "GRD — Rechercher PDL/PCE (+ Matricule)": {"main": [[{"node": "Assembler PDL/PCE", "type": "main", "index": 0}]]},
    "Données Complètes?": {"main": [[{"node": "DQE — Vérifier Email", "type": "main", "index": 0}], [{"node": "Répondre — Informations Manquantes", "type": "main", "index": 0}]]},
    "DQE — Vérifier Email": {"main": [[{"node": "DQE — Vérifier Téléphone", "type": "main", "index": 0}]]},
    "DQE — Vérifier Téléphone": {"main": [[{"node": "Blacklist — PDL/PCE", "type": "main", "index": 0}]]},
    "Blacklist — PDL/PCE": {"main": [[{"node": "Blacklist — IBAN", "type": "main", "index": 0}]]},
    "Blacklist — IBAN": {"main": [[{"node": "RUM — Générer", "type": "main", "index": 0}]]},
    "RUM — Générer": {"main": [[{"node": "Salesforce — Save 2", "type": "main", "index": 0}]]},
    "Salesforce — Save 2": {"main": [[{"node": "CRM — Mise à jour Personne", "type": "main", "index": 0}]]},
    "CRM — Mise à jour Personne": {"main": [[{"node": "CRM — Coordonnées Bancaires", "type": "main", "index": 0}]]},
    "CRM — Coordonnées Bancaires": {"main": [[{"node": "Mandat — Créer", "type": "main", "index": 0}]]},
    "Mandat — Créer": {"main": [[{"node": "Contrat — Statut En attente", "type": "main", "index": 0}]]},
    "Contrat — Statut En attente": {"main": [[{"node": "CPVs — Infos", "type": "main", "index": 0}]]},
    "CPVs — Infos": {"main": [[{"node": "CPVs — Créer Doc", "type": "main", "index": 0}]]},
    "CPVs — Créer Doc": {"main": [[{"node": "Mandat — Générer Doc", "type": "main", "index": 0}]]},
    "Mandat — Générer Doc": {"main": [[{"node": "OTP — Générer Code", "type": "main", "index": 0}]]},
    "OTP — Générer Code": {"main": [[{"node": "Email — Envoyer Code", "type": "main", "index": 0}]]},
    "Email — Envoyer Code": {"main": [[{"node": "Consentement — Questions", "type": "main", "index": 0}]]},
    "Consentement — Questions": {"main": [[{"node": "OTP — Valider Code", "type": "main", "index": 0}]]},
    "OTP — Valider Code": {"main": [[{"node": "CPVs — Signer", "type": "main", "index": 0}]]},
    "CPVs — Signer": {"main": [[{"node": "Mandat — Signer", "type": "main", "index": 0}]]},
    "Mandat — Signer": {"main": [[{"node": "CRM — MAJ Personne", "type": "main", "index": 0}]]},
    "CRM — MAJ Personne": {"main": [[{"node": "CRM — MAJ Portefeuille", "type": "main", "index": 0}]]},
    "CRM — MAJ Portefeuille": {"main": [[{"node": "Salesforce — Save 3", "type": "main", "index": 0}]]},
    "Salesforce — Save 3": {"main": [[{"node": "Email — Finalisation", "type": "main", "index": 0}]]},
    "Email — Finalisation": {"main": [[{"node": "Email — Activation EC", "type": "main", "index": 0}]]},
    "Email — Activation EC": {"main": [[{"node": "Email — Bienvenue", "type": "main", "index": 0}]]},
    "Générer Contrat (PDF)": {"main": [[{"node": "DocuSign — Créer Enveloppe", "type": "main", "index": 0}]]},
    "DocuSign — Créer Enveloppe": {"main": [[{"node": "Répondre — Signature en cours", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {},
  "staticData": {}
}
